* {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: 16px;
  color: white;
}

body {
  background-image: url(LogIn/img/background4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-content {
  margin: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 96vh;
}

.main-content > * {
  margin: 10px;
  text-align: center;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 50%;
  height: 5%;
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
}

input:focus {
  outline: none;
}

small {
  font-size: 0.9rem;
}

button {
  width: 150px;
  background-color: transparent;
  padding: 15px;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.2);
}

.quote {
  position: fixed;
  bottom: 0%;
  width: 100%;
  opacity: 1;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.meniu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;

  position: fixed;
  left: 0%;
  width: 10%;
  opacity: 1;
}

#newsletters:hover {
  cursor: pointer;
}
